.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    color: #333;
    height: 90px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(110, 25, 25, 0.1);
}
.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;
}

/*.header a {
    color: rgb(19, 19, 19);
    margin-right: 20px;
}

.header a:hover {
    color: rgb(177, 207, 29);
    font-size: 40px;
}
.header ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    font-size: 30px;
}*/

.logo {
    color: rgb(41, 13, 168);
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'SonsieOne';
    margin-right: 25px;
}

.logo a {
    color: rgb(14, 14, 14);
}

.login a:hover {
    color:aqua;
    font-size: 25px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    /*.header ul {
        margin: 20px 0;
        flex-direction: column;
        text-align: center;
    }

    .header a {
        margin-right: 0;
    }*/

    .logo {
        margin: 20px 0;
    }
}
