.header {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: #fff;
    color: #333;
    /*height: 90px;*/
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(110, 25, 25, 0.1);
}
.logo {
    color: rgb(41, 13, 168);
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'SonsieOne';
    margin-right: 5px;
}

.logo a {
    color: rgb(14, 14, 14);
}

.menuContainer {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    margin-left: 25px;
}
.loginButton {
    align-items: center;
}
.profile a + a {
    margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
    }
    .menuContainer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .logo {
        text-align: center;
    }
    .navMenu {
        order: 1;
        margin: 18px 0px;
    }
    .profile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        margin-left: 0px;
    }
    .profile a + a {
        margin-left: 0px;
    }
    .loginButton {
        width: 100%;
        text-align: center;
        background-color: black;
        color: white;

        padding: 12px 32px;
    }
}
