.viewCategories {
  max-width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 75px auto;
}
.linkToAll {
  margin-top: 25px;
  cursor: pointer;

  border-bottom: 1px solid transparent;
}
.linkToAll:hover {
  border-bottom: 1px solid black;
}