.hidde {
    display: none;
}
.show {
    display: block;
}

.dropdownMenu {
    min-width: 150px;
    position: absolute;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 8px;

    background-color: white;

    list-style-type: none;
    z-index: 100;
}
.dropdownItem {
    font-size: 18px;
}
.dropdownItem + .dropdownItem {
    margin-top: 5px;
}
.dropdownItem:hover {
    background-color: black;
    color: white;
}
.itemLink {
    display: inline-block;
    padding: 5px;
}

@media only screen and (max-width: 1024px) {
    .dropdownMenu {
        position: relative;
    }
}