.form {
    margin-left: auto;
}
.input {
    width: 32px;
    color: transparent;
    font-size: 16px;
    border: 1px solid transparent;
    /** Icon Search**/
    background: url('/IconSearch.svg') no-repeat left;
    background-position: 7px 4px;
    background-size: 20px;

    transition: width 175ms ease-in;

    padding: 3px 8px 3px 0px;
}
.input::placeholder {
    color: transparent;
    font-family: 'Comfortaa', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.input:focus {
    width: 320px;
    color: inherit;
    border-color: black;

    padding: 3px 8px 3px 32px;
}
.input:focus::placeholder {
    color: gray;
}

@media only screen and (max-width: 1024px) {
    .form {
        order: 0;
        width: 100%;

        margin: 15px 0px 0px 0px;
    }
    .input {
        width: 100%;
        border: 1px solid black;
        background-position: 7px 12px;

        padding: 12px 32px;
    }
    .input:focus {
        width: 100%;
        padding: 12px 32px;
    }
    .input::placeholder {
        color: gray;
    }

}